# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
testem.log

# System files
.DS_Store
Thumbs.db
package-lock.json

# Playwright E2E artifacts
/test-results
/playwright-report
